.characterEditor {
  padding-top: 128px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-between;
  width: 1024px;
}

.maxWidthWrapper {
  width: 65%;
}

.header {
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  height: 500px;
  position: sticky;
  top: 0;
}

.controlColumn {

}
